<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

	
<body>
	<div layout:fragment="content">

		<div class="pagetitle">
		  <h1>Components</h1>
		  <nav>
		    <ol class="breadcrumb">
		      <li class="breadcrumb-item"><a href="/parameters">Home</a></li>
		    
		      <li class="breadcrumb-item active">Locations</li>
		    </ol>
		  </nav>
		</div>

		<h1>Add Location</h1>
		<div class="row">
		    <div class="col-lg-10">

		      <div class="card">
		        <div class="card-body">
		          <h5 class="card-title">Add new Location Record</h5>
				  <!-- Vertical Form -->
				                
									<form class="row g-3" id="document" th:action="@{/locationsSave}" method="post">
				                  <div class="col-12">
				                    <label for="inputNanme4" class="form-label">Address</label>
				                    <input type="text"name="address"  class="form-control"  required>
				                  </div>
				                  <div class="col-12">
				                    <label for="inputCode" class="form-label">City</label>
				                    <input type="text" name="city" class="form-control"  required>
				                  </div>
				                  <div class="col-12">
									<label for="ddlCountryAdd" class="form-label">Country</label>
										<select  class="form-control" id="ddlCountryAdd" name="countryid">
											       <option>--SELECT--</option>
										           <option
										                   th:each="country : ${countries}"	
														   th:value="${country.id}"
														   th:text="${country.description}">
										           </option>
										       </select>
									</div>
									<div class="col-12">
									<label for="ddlStateAdd" class="form-label">State</label>
										<select  class="form-control" id="ddlStateAdd" name="stateid">
											       <option>--SELECT--</option>
										           <option
										                   th:each="state : ${states}"	
														   th:value="${state.id}"
														   th:text="${state.name}">
										           </option>
										       </select>
									</div>
				                  <div class="col-12">
				                    <label for="inputAddress" class="form-label">Details</label>
				                    <input type="text" name="details" class="form-control"  required>
				                  </div>
								  <div class="col-12">
								    <label for="inputAddress" class="form-label">Description</label>
			                        <input type="text" name="description" class="form-control" required>
		             			 </div>
								  <div class="panel-body">
				                    <button type="submit" class="btn btn-success">Save</button>
				                    <a href="/locations" class="btn btn-warning">Exit</a>
				                  </div>
				                </form><!-- Vertical Form -->

				              </div>
				            </div>
						</div>
	                  </div>
					  </div>
					  </div>
					  <!--<th:block layout:fragment="scripts">!-->
					  <script language="JavaScript">
					  //	$('#document').ready(func // Line 1
					  	    $('#ddlCountryAdd').on('change',function () { // Line 2
					  	        $('#ddlStateAdd').empty().append('<option value="null">-SELECT-</option>'); // Line 3
					  	        var countryid = $(this).val(); //Line 4
					  	        var href = "http://localhost:8181/parameters/countries/" + countryid //Line 5
					  	        $.get(href, function (country, status) { // Line 6
					  	            var states = country.states; // Line 7
					  	            for (var i = 0; i <= states.length-1; i++) { // Line 8
					  	                $('#ddlStateAdd').append('<option value="' + states[i].id + '">' + states[i].name + '</option>'); // Line 9
					  	            }
					  	        })
					  	    })console.log()
					  	
					  	</script>
					  <!---</th:block>	  !-->
				  
	</div>
  
</body>
</html>