<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<body>
	<div layout:fragment="content">
		<div class="pagetitle">
		  <h1>Components</h1>
		  <nav>
		    <ol class="breadcrumb">
		      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
		      <li class="breadcrumb-item">Components</li>
		      <li class="breadcrumb-item active">Data</li>
		    </ol>
		  </nav>
		</div>
		<h1>Welcome to Fleet Department</h1>
		<div class="row">
				  <div class="col-lg-4">
				    <div class="card">
				      <div class="card-block">
				        <center><h3 class="card-title">Vehicles</h3>
				        <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>!-->
				        <a href="/vehicles" class="btn btn-primary">Manage Vehicles</a>
				      </div></center></br>
				    </div>
				  </div>
				  <div class="col-sm-4">
				    <div class="card">
				      <div class="card-block">
				        <center><h3 class="card-title">Vehicle Makers</h3>
				        <a href="/vehiclemakers" class="btn btn-primary">Manage Makers</a></center></br>
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-4">
				    <div class="card">
				      <div class="card-block">
				       <center> <h3 class="card-title">Vehicle Models</h3>
				        <a href="/vehiclemodels" class="btn btn-primary">Manage Models</a></center></br>
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-4">
				    <div class="card">
				      <div class="card-block">
				       <center> <h3 class="card-title">Vehicle Status  </h3>
				        <a href="/vehiclestatus" class="btn btn-primary">Manage Status</a></center></br>
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-4">
				    <div class="card">
				      <div class="card-block">
				       <center> <h3 class="card-title">Vehicle Types</h3>
				        <a href="/vehicletypes" class="btn btn-primary">Manage  Types</a></center></br>
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-4">
				      <div class="card">
				        <div class="card-block">
				         <center> <h3 class="card-title">Vehicle Hires</h3>
				          <a href="/vehiclehires" class="btn btn-primary">Manage Hires</a></center></br>
				        </div>
				      </div>
				    </div>
				</div>
				<div class="col-sm-4">
				      <div class="card">
				        <div class="card-block">
				         <center> <h3 class="card-title">Vehicle</h3>
				          <a href="/vehiclemovements" class="btn btn-primary">Manage Movements</a></center></br>
				        </div>
				      </div>
				    </div>
				</div>
				<div class="col-sm-4">
				      <div class="card">
				        <div class="card-block">
				         <center> <h3 class="card-title">Vehicle Maintainance</h3>
				          <a href="/vehiclemaintanance" class="btn btn-primary">Manage Maintainance</a></center></br>
				        </div>
				      </div>
				    </div>
				</div>

	</div>

</body>
</html>